<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-left">
      <div class="info">
        <span>이 웹 페이지는 HTML / CSS / JavaScript 학습용으로 제작되었으며,</span>
        <span><a href="https://www.spoany.co.kr/">SPOANY</a>, <a href="https://www.onfit.com/">온핏 (OnFit)</a>, <a
            href="https://adventure.lotteworld.com/museum/">롯데월드 민속박물관</a> 등을 참고해 제작되었습니다.</span>
        <span>&nbsp;</span>
        <span>© 2026 DayFit. All Rights Reserved.</span>
      </div>
    </div>
    <div class="footer-right">
      <div class="sns">
        <a href=""><img src="/assets/images/common/instagram.svg" alt=""></a>
        <a href=""><img src="/assets/images/common/youtube.svg" alt=""></a>
        <a href=""><img src="/assets/images/common/facebook.svg" alt=""></a>
      </div>
    </div>
  </div>
</footer>